@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7fb452;
    color: white;
    font-family: 'Jersey 10';
}


/*------ HOME PAGE ------*/


.mainDiv {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.mainDiv h1 {
    text-align: center;
    letter-spacing: 12px;
    font-size: 56px;
    margin: 16px;
}

.mainDiv p {
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
}

.mainDiv img {
    width: 248px;
    height: 248px;
    margin: 24px;
}

.mainDiv #start-btn {
    font-family: 'Jersey 10';
    font-size: 40px;
    color: white;
    padding: 8px 40px;
    background-color: #86bf53;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #222;
}
.mainDiv #start-btn:hover {
    transform: scale(1.1) perspective(1px);
    transition: 0.3 ease;
    cursor: pointer;
}




/*------ SET TASK PAGE ------*/


.setTaskDiv {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.setTaskDiv h1 {
    text-align: center;
    letter-spacing: 12px;
    font-size: 56px;
    margin: 16px;
}

.setTaskDiv img {
    width: 40px;
    height: 40px;
    margin: 16px;
}

.setTaskDiv p {
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
}

.setTaskDiv #task-value {
    border: none;
    border-radius: 50px;
    padding: 16px;
    margin-top: 24px;
    margin-bottom: 56px;
}

.setTaskDiv #set-timer-btn {
    font-family: 'Jersey 10';
    font-size: 40px;
    color: white;
    padding: 8px 40px;
    background-color: #86bf53;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #222;
}
.setTaskDiv #set-timer-btn:hover {
    transform: scale(1.1) perspective(1px);
    transition: 0.3 ease;
    cursor: pointer;
}


/*------ LET'S GO PAGE ------*/


.timerBeginsDiv {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.timerBeginsDiv h1 {
    text-align: center;
    letter-spacing: 12px;
    font-size: 56px;
    margin-bottom: 20px;
}

.timerBeginsDiv img {
  width: 180px;
  height: 180px;
  animation: float 3s ease-in-out infinite; /* Membuat maskot melayang */
}

.timerBeginsDiv #task {
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
}
.timerBeginsDiv #time-remaining {
    text-align: center;
    font-size: 180px;
    letter-spacing: 4px;
}

.timerBeginsDiv #pause-btn {
    font-family: 'Jersey 10';
    font-size: 40px;
    color: white;
    padding: 8px 40px;
    background-color: #86bf53;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #222;
}
.timerBeginsDiv #pause-btn:hover {
    transform: scale(1.1) perspective(1px);
    transition: 0.3 ease;
    cursor: pointer;
}

/*------ STOP PAGE ------*/


.stopWorkDiv {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.stopWorkDiv h1 {
    text-align: center;
    letter-spacing: 12px;
    font-size: 56px;
    margin-bottom: 64px;
}

.stopWorkDiv #task {
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
}
.stopWorkDiv #time-remaining {
    text-align: center;
    font-size: 196px;
    letter-spacing: 4px;
}

.stopWorkDiv #start-break-btn {
    font-family: 'Jersey 10';
    font-size: 40px;
    color: white;
    padding: 8px 40px;
    background-color: #86bf53;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #222;
}
.stopWorkDiv #start-break-btn:hover {
    transform: scale(1.1) perspective(1px);
    transition: 0.3 ease;
    cursor: pointer;
}


/*------ TAKING A BREAK ------*/

.takingBreakDiv {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.takingBreakDiv h1 {
    text-align: center;
    letter-spacing: 12px;
    font-size: 40px;
    margin-bottom: 64px;
}

.takingBreakDiv img {
  width:180px;
  height: 180px;
  animation: float 3s ease-in-out infinite; /* Membuat maskot melayang */
}

.takingBreakDiv #task {
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
}
.takingBreakDiv #time-remaining {
    text-align: center;
    font-size: 196px;
    letter-spacing: 4px;
}

.break-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.break-content h1 {
  margin: 0; 
}

.break-content img {
  width: 180px; 
  display: block;
}

/*------ GET BACK TO IT PAGE ------*/


.stopBreakDiv {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.stopBreakDiv h1 {
    text-align: center;
    letter-spacing: 12px;
    font-size: 56px;
    margin-bottom: 64px;
}

.stopBreakDiv #task {
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
}
.stopBreakDiv #time-remaining {
    text-align: center;
    font-size: 196px;
    letter-spacing: 4px;
}

.stopBreakDiv #start-timer-btn {
    font-family: 'Jersey 10';
    font-size: 40px;
    color: white;
    padding: 8px 40px;
    background-color: #86bf53;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #222;
}
.stopBreakDiv #start-timer-btn:hover {
    transform: scale(1.1) perspective(1px);
    transition: 0.3 ease;
    cursor: pointer;
}

/* ===== BUTTON GROUP ===== */
.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


.music-btn {
  position: fixed;
  top: 20px;
  right: 20px;

  width: 48px;
  height: 48px;

  font-size: 24px;
  line-height: 48px;

  background-color: #86bf53;
  color: white;

  border: 4px solid white;
  border-radius: 50%;

  box-shadow: 2px 2px 4px #222;
  cursor: pointer;
  z-index: 999;
}

/* Hover */
.music-btn:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

/* Active (clicked) */
.music-btn:active {
  transform: scale(0.95);
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.mainDiv img {
  width: 248px;
  height: 248px;
  margin: 24px;
  animation: float 3s ease-in-out infinite; /* Membuat maskot melayang */
}

